@font-face {
    font-family: "Haas Grotesk Med";
    src: url("/fonts/NHaasGroteskTXPro-65Md.ttf") format("truetype");
}
/* @font-face {
    font-family: "Haas Grotesk Light";
    src: url("/fonts/NHaasGroteskTXPro-55Md.ttf") format("truetype"),
}
@font-face {
    font-family: "Haas Grotesk Bold";
    src: url("/fonts/NHaasGroteskTXPro-75Bd.ttf") format("truetype"),
} */

:root {
    --blue-color: #045bdd
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --taille_double_slide : 60vw;
}

body {
    margin: 0;
    border: 0;
    background-color: antiquewhite;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px -14px rgb(0 0 0 / 70%);
    -webkit-box-shadow: 0px 0px 40px -14px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0px 0px 40px -14px rgba(0,0,0,0.7);
}

fieldset {
    border: 0;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.section_title, .sous_question_section_title {
    display: flex;
    align-items: center;
    /* width: 320%; */
}

.section_title_icon {
    width: 25px;
    height: 25px;
    background-color: var(--blue-color);
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 3px;
    font-weight: normal;
    margin-right: 15px;
}

.section_title {
    color: #5b748f;
}

.section_subtitle {
    color: #042140;
    font-weight: bold;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 5px;
}

.item {
    background-color: rgb(250, 250, 250);
    height: 100%;
    border: 0.15em solid #ededed;
    margin-left: 5px;
    border-radius: 10px;
    transition: 0.3s;
    text-indent: 8px;
    color: #99a2b1;
    justify-content: center;
}

.item:focus {
    border: 0.125em solid #0c6dde;
    animation: click 0.3;
    color: #344964;
}
.item::placeholder {
    color: #848c99;
}

input[type="text"] {
    width: 50%;
}



.section_input {
    display: flex;
    flex-wrap: wrap;
    /* grid-auto-rows: 30px; */
    /* grid-template-columns: repeat(auto-fit, 105px); */
    /* grid-gap: 12px; */
}

.section_input_simple, .section_input, .section_range, .section_input_text {
    margin-left: 40px;
    margin-top: 10px;
    width: 100%;
}

.section_input_text > div {
    height: 37px;
}

.section_input_text > .section_title_label {
    height: auto;
}

label {
    display: block;
}


.section_input > div {
    width: 150px;
    /* height: 35px; */
    margin: 5px;
}

.section_input_simple > div {
    width: 80%;
    height: 45px;
    margin: 5px;
}

.section_input > div > input, .section_input_simple > div > input {
    display: none;
}



.section_input > div > label, .section_input_simple > div > label  {
    height: 100%;
    width: 100%;
    border: 0.125em solid #ededed;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    margin: 0;
    transition: 0.3s;
    text-align: center;
    color: #99a2b1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_input > div > label {
    height: 37px;
}


.section_input > div > input:checked ~ label, .section_input_simple > div > input:checked ~ label  {
    border: 0.125em solid #0c6dde;
    animation: click 0.3;
    color: #344964;
}

/* .section_input > div > input:invalid ~ label, .section_input_simple > div > input:invalid ~ label  {
    border: 0.125em solid #de1a0c;
    color: #344964;
} */

.section_input > div > input.expand:checked ~ label {
    margin-top: 85px;
    transform: translateY(-85px);
}

.section_input > div > input:checked ~ div {
    display: block;
    opacity: 1;
    transform: translateY(-85px);
}


.sous_question {
    display: none;
    transition: 1s;
    opacity: 0;
    position: absolute;
    margin-top: 10px;
}

.sous_section_subtitle {
    color: #042140;
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
}
.sous_section_subtitle::before {
    display: inline-block;
    content: " ";
    align-items: center;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 7px -16px;
    border-radius: 50%;
    background-color: var(--blue-color);
}


.section_input_simple > div > label {
    justify-content: start;
    padding-left: 15px;
}


#q6 > .section_input > div > label {
    height: 60px;
}



/*//////////////////////////////////////////////////////////////////*/
/*//////////////////        DOUBLE SLIDE         ///////////////////*/
/*//////////////////////////////////////////////////////////////////*/

.v_doubleSlide {
    display: flex;
}

.v_doubleSlide input {
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
}

/*//// Mozzila ////*/

.v_doubleSlide input:first-of-type::-moz-range-progress {
    background-color: white;
    height: 4px;    
}

.v_doubleSlide input:first-of-type::-moz-range-track{
    background-color: var(--blue-color);
    height: 4px;
    border : 0.5px solid black;
    border-right: 0.5px solid var(--blue-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px black solid
}

.v_doubleSlide input:last-of-type::-moz-range-progress {
    background-color: var(--blue-color);
    height: 4px;    
}

.v_doubleSlide input:last-of-type::-moz-range-track {
    background-color: white;
    border : 0.5px solid black;
    border-left: 0.5px solid var(--blue-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 4px;    
}

.v_doubleSlide input::-moz-range-thumb{
    border-radius: 100%;
    border : 6px solid var(--blue-color);
    width: 14px;
    height:14px;
    background-color: white;
}


/*//// Wekbkit ////*/

.v_doubleSlide input::-webkit-slider-runnable-track{
    background-color: var(--blue-color);
    height: 5px;
}

.v_doubleSlide input:first-of-type::-webkit-slider-runnable-track{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.v_doubleSlide input:last-of-type::-webkit-slider-runnable-track{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.v_doubleSlide input::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 100%;
    border : 6px solid var(--blue-color);
    width: 24px;
    height: 24px;
    background-color: white;
    margin-top: -8px;
}


/*//// Echelle et graduation ////*/


.v_echelle {
    width: 97%;
    margin: 0 auto;
    margin-top :14px;
}

.v_barre {
    border-bottom: 2.5px solid var(--blue-color);
}

.v_batton {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
}

.v_nombre {
    display: flex;
    justify-content: space-between
}

.v_batton div{
    width: 3px;
    height: 6px;
    background-color: var(--blue-color);
}






/*//////////////////////////////////////////////////////////////////*/
/*///////////////        Style Choix 1 à 10         ////////////////*/
/*//////////////////////////////////////////////////////////////////*/

.section_input_1a10 {
    display : flex;
}

.section_input_1a10 div {
    width : 4.5vw;
    height : 5vw;
    max-width: 200px;
    max-height: 200px;
    font-size: 3.5vw;
}

.section_input_text div textarea {
    resize: vertical;
    width : 80%;
}

@keyframes click {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 10px;

    }
    100% {
        margin-top: 0;
    }
}


/* 
.doubleSlide input {
    position: absolute;
    -webkit-appearance: none;
    z-index: 1;

}
.barre {
    border-bottom: 7px solid blue;
    width: 100%;
    height: 6px;
    z-index: 0;
    position: absolute;
}
.doubleSlide input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    z-index: 2;
    background-color: rgb(170, 2, 2);
    color: red;
}
.doubleSlide input:first-of-type::-webkit-slider-thumb{
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.doubleSlide input:last-of-type::-webkit-slider-thumb{
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.doubleSlide input::-webkit-slider-runnable-track{
    z-index: 0;
    height: 0px;
} */



@media screen and (max-width: 767px) { 
    main {
        width: 90%;
    }
    fieldset {
        width: 80%;
    }
    .sous_section_subtitle {
        margin-left: 10px;
    }

    .section_input_simple, .section_input, .section_range, .section_input_text {
        margin: 10px auto;
        width: 100%;
    }
    .section_subtitle {
        margin-left: 0;
    }
    .sous_question {
        margin-left: 30px;
    }
    .section_input_simple > div {
        width: 100%;
    }
}